<div ng-controller="homeController"  layout-align="center center" layout-sm="column" ng-cloak>

   <div flex layout="row" layout-xs="column" style="clear:both;">

      <div flex-xs="100" flex-gt-sm="50" flex layout-gt-sm="row" layout-padding>
         <md-input-container layout="bottom center" style="margin-top: 10px" flex-xs="100" flex>
            <input type="text" ng-model="participante.nome" placeholder="Nome do Participante">
         </md-input-container>

         <md-input-container layout="bottom center" style="margin-top: 10px" flex-xs="100" flex>
            <input type="text" ng-model="participante.email" placeholder="Email do Parcicipante">
         </md-input-container>

         <div   layout layout-align="start start" flex-xs="100">
            <md-button ng-click="adicionarParticipante()" class="md-raised md-primary">
               Adicionar
               <md-icon >send</md-icon>
            </md-button>
         </div>
      </div>

      <div flex-xs="100" >
         <div layout="row">

            <h2 class="md-title">Participantes</h2>
            <i class="material-icons">file_upload</i>
            <ng-csv-import material
            md-button-class="md-icon-button md-raised md-primary md-12"
            separator="','"
            result="csvJson"
            accept="'.csv'"
            callback="csvFileImportCallback"></ng-csv-import>

         </div>

         <div flex="100" layout-padding style="clear:both;">
            <table class="ui very basic selectable collapsing celled table" flex="100" style="clear:both;">
               <thead>
                  <tr>
                     <th>Nome</th>
                     <th>Email</th>
                     <th>Remover</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-if="participantes.length <= 0">
                     <td colspan="3">
                        Nenhum participante adicionado
                     </td>
                  </tr>
                  <tr ng-repeat="part in participantes track by part.nome">
                     <td>
                        <h4 class="ui header">
                           <div class="content">
                              <div class="sub header">
                                 {{part.nome}}
                              </div>
                           </div>
                        </h4>
                     </td>
                     <td>
                        {{part.email}}
                     </td>
                     <td>
                         <div layout layout-align="end" flex>

                             <a href="" ng-click="removerParticipante($index)">
                                 <i class="material-icons md-red">backspace</i>
                             </a>
                         </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <md-button class="md-primary md-raised" layout="row" ng-click="adicionarTodosParticipantesParaSorteio()">
             <i class="material-icons">keyboard_arrow_down</i>
             add all
         </md-button>
      </div>

   </div>

   <h4 class="ui horizontal divider header" style="clear:both;">
     <i class="cubes icon"></i>
     Sorteio
   </h4>

   <div flex style="clear:both;">
       <h2 class="md-title">Participantes Para Sortear</h2>
       <md-contact-chips
           ng-model="participantesParaSortear"
           md-contacts="querySearch($query)"
           md-contact-name="nome"
           md-require-match="true"
           filter-selected="true"
           placeholder="Presentes no Sorteio">
       </md-contact-chips>
   </div>

   <div flex  layout layout-align="center center">
      <md-button ng-click="sortear()" class="md-raised md-primary">Sortear</md-button>
   </div>

    <div layout="row">

       <md-checkbox ng-model="hideSorteio" class="md-raised md-primary" aria-label="?">
       </md-checkbox>

       <md-input-container>
          <input type="text" ng-model="showOnlyTo" placeholder="Mostrar Somente Para">
       </md-input-container>
    </div>
   <br>
   <div flex layout="column">
      <div layout="row">
         <div ng-if="mensagensErro.length > 0" class="ui error message" flex-xs="100" flex-gt-sm="40">
            <div ng-repeat="msg in mensagensErro">
               {{msg}}
            </div>
         </div>
      </div>
      <h2 class="md-title md-red" layout="row" layout-xs="column">

            Resultado do Sorteio:
            <md-button ng-click="sendNotification()"
               ng-disabled="paresSorteados.length <= 0 || notificationLoading"
               class="md-raised md-primary" layout="row">
               Enviar Notificação
               <md-icon>email</md-icon>
               <md-progress-circular ng-show="notificationLoading" md-diameter="20"></md-progress-circular>
            </md-button>
      </h2>
      <table>
         <tbody>
            <tr ng-repeat="par in paresSorteados" ng-show="isShowFor(par.pessoa1)">
               <td>
                  <a class="ui image label">
                     <i class="user large icon"></i>
                    {{par.pessoa1.nome}}
                  </a>
               </td>
               <td>
                  >>>>>
               </td>
               <td>
                  <a class="ui image label">
                     <i class="user large icon"></i>
                    {{par.pessoa2.nome}}
                  </a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>

</div>
